#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

.card {
  margin-top: 2rem;
  padding: 1em;
}

.mb-3.card {
  width: 18rem;
}

#basic-nav-dropdown {
  width: 5rem;
  margin-left: 8px;
  display: flex;
  align-items: center; 
}

.divider {
  border-right: 1px solid #ccc;
  padding-inline: 1rem;
  margin-right: 2rem;
  display: inline-block;
}

.divider-button {
  margin-right: 1rem;
  display: inline-block;
}

[data-theme="Dark"].container {
  color: #eee;
  background-color: rgb(41, 40, 40);
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info span, .user-info p {
  text-align: left;
  width: 100%;
}

.user-info span {
  color: #a09696;
}

.user-info p {
  color: #413e3e;
}

.auth-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.auth-item .auth-prop {
  flex: 1;
}

.auth-prop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-prop span {
  font-weight: bold;
}

[data-theme="Dark"] .modal-content {
  background-color: rgb(41, 40, 40);
  color: white;
}

.fav-listing-house {
  position: relative;
}

.fav-listing {
  position: absolute;
  top: 7%;
  left: 53%;
  z-index: 1;
  /* margin-top: 0.5rem; */
}

@media (max-width: 1024px) {
  .fav-listing {
    left: 54%;
  }
}

@media (max-width: 768px) {
  .fav-listing {
    left: 55.5%;
  }
}

@media (max-width: 425px) {
  .fav-listing {
    left: 59.5%;
  }
}

@media (max-width: 375px) {
  .fav-listing {
    left: 61.5%;
  }
}