#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

.card {
  margin-top: 2rem;
  padding: 1em;
}

.mb-3.card {
  width: 18rem;
}

#basic-nav-dropdown {
  width: 5rem;
  margin-left: 8px;
  display: flex;
  align-items: center; 
}

.divider {
  border-right: 1px solid #ccc;
  padding-inline: 1rem;
  margin-right: 2rem;
  display: inline-block;
}

.divider-button {
  margin-right: 1rem;
  display: inline-block;
}

[data-theme="Dark"].container {
  color: #eee;
  background-color: #181818;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info span, .user-info p {
  text-align: left;
  width: 100%;
}

.user-info span {
  color: #a09696;
}

.user-info p {
  color: #413e3e;
}

.auth-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.auth-item .auth-prop {
  flex: 1;
}

.auth-prop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-prop span {
  font-weight: bold;
}

[data-theme="Dark"] .modal-content {
  background-color: rgb(41, 40, 40);
  color: white;
}
