.custom-navbar {
  height: 90px;
  width: 100%;
  background-color: rgba(84, 158, 236, 0.693);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0; 
  z-index: 1000; 
}

.custom-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 1.2rem;
}

.logo-container {
  padding-left: 3rem;
}

.logo {
  width: 120px;
  height: auto;
  border-radius: 50%;
}

[data-theme="Dark"].container {
  color: #eee;
  background-color: #181818;
}