/* Add these styles to your existing styles or create a new CSS file */

.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.chat-header {
  background-color: #3498db;
  color: white;
  padding: 10px;
  text-align: center;
}

.chat-body {
  flex: 1;
  overflow-y:auto;
  padding: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}

.message {
  display: flex;
  margin-bottom: 1rem;
  max-width: 40%;
}

#you {
  align-self: flex-end;
}

#other {
  align-self: flex-start;
}

#other .message-content {
  background-color: #eaebec;
  color: #555;
}

#you .message-content {
  align-self: flex-end;
}

.message-image {
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-item img {
  border: 1px solid green;
  border-radius: 50%;
}

.message-content {
  background-color: #3498db;
  color: white;
  border-radius: 8px;
  max-width: fit-content;
  text-align: left;
}

.message-content p {
  margin: 0.7em;
}

.message-meta {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-top: 5px;
}

#time,
#author {
  font-size: 0.8em;
}

#time {
  align-self: flex-end;
}

.chat-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

input {
  flex: 1;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#message-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

#message-button:hover {
  background-color: #2980b9;
}
